<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Board" type="com.tech.vo.BoardVO" />
		<typeAlias alias="Trade" type="com.tech.vo.TradeVO" />
		<typeAlias alias="Product" type="com.tech.vo.ProductVO" />
		<typeAlias alias="Apply" type="com.tech.vo.ApplyVO" />
		<typeAlias alias="Qna" type="com.tech.vo.QnaVO" />
		<typeAlias alias="Comment" type="com.tech.vo.CommentVO" />
		<typeAlias alias="Pagination" type="com.tech.common.Pagination" />
	</typeAliases>
</configuration>
