<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.repository.mapper.CommentMapper">
	<resultMap type="com.tech.vo.CommentVO" id="CommentList">
		<id property="c_writer" column="c_writer"/>
		<result property="c_seq" column="c_seq"/>
		<result property="c_boardSeq" column="c_boardSeq"/>
		<result property="c_text" column="c_text"/>
		<result property="c_date" column="c_date"/>
	</resultMap>

	<select id="getCommentListById" parameterType="int"
		resultType="Comment">
		select * from `comment` where c_boardSeq = #{value}
	</select>

	<delete id="deleteComment" parameterType="int">
		delete from `comment`
		where c_seq = #{value}
	</delete>
	
	<insert id="insertComment" parameterType="Comment">
		insert into
		`comment`(c_writer,c_text,c_boardSeq)
		values(#{c_writer},#{c_text},#{c_boardSeq})
	</insert>

	<select id="CommentList" resultMap="CommentList">
		SELECT * FROM `comment`
	</select>

	<select id="Comment_name" resultMap="CommentList">
		SELECT * FROM `comment` WHERE c_writer = #{c_writer}
	</select>


</mapper>